description = "Konten Client Populer"
==
<div id="cwrap">
    <div class="container">
        <div class="row centered">
            <div class="section-header">
                <h2 class="section-title text-center wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">Client Kami</h2>
                <p class="text-center wow zoomIn" data-wow-duration="400ms" data-wow-delay="100ms">Beberapa daftar client populer kami yang sangat bangga menggunakan jasa kami</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="400ms" data-wow-delay="500ms">
                <img src="{{ 'assets/images/clients/client01.png'|theme }}" class="img-responsive" alt="Qienzu Putri Digital Printing">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="400ms" data-wow-delay="400ms">
                <img src="{{ 'assets/images/clients/client02.png'|theme }}" class="img-responsive" alt="PT. Jamkrida Banten">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="400ms" data-wow-delay="300ms">
                <img src="{{ 'assets/images/clients/client03.png'|theme }}" class="img-responsive" alt="Pantau Banten - Media Wong Banten">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="400ms" data-wow-delay="200ms">
                <img src="{{ 'assets/images/clients/client04.png'|theme }}" class="img-responsive" alt="Forum Komunikasi Wirausaha dan Tenaga kerja Kota Serang">
            </div>
        </div>
    </div>
</div>