==
<div id="cwrap">
    <div class="container">
        <div class="row centered">
        <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Meet The Team</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="{{ 'assets/images/clients/client01.png'|theme }}" class="img-responsive"></div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="{{ 'assets/images/clients/client02.png'|theme }}" class="img-responsive"></div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="{{ 'assets/images/clients/client03.png'|theme }}" class="img-responsive"></div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <img src="{{ 'assets/images/clients/client04.png'|theme }}" class="img-responsive"></div>
        </div>
    </div>
</div>