description = "Homepage Style"
==
{% styles %}
<link href="{{ [
	'assets/css/bootstrap.min.css',
	'assets/css/main.css',
	'assets/css/font-awesome.min.css',
	'assets/css/animate.min.css',
	'assets/css/prettyPhoto.css',
   	'assets/css/harga.css',
    'assets/css/footer.css',
    'assets/css/testimonial.css',
    'assets/css/karya.css',
    'assets/css/hubungi.css',
   	'assets/css/proses.css',
	'assets/css/team.css',
	'assets/css/slides.css',
	'assets/css/features.css',
	'assets/css/responsive.css',
]|theme }}" rel="stylesheet">

<link rel="shortcut icon" href="{{ 'assets/images/ico/favicon.ico'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ 'assets/images/ico/apple-touch-icon-144-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ 'assets/images/ico/apple-touch-icon-114-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ 'assets/images/ico/apple-touch-icon-72-precomposed.png'|theme }}">
<link rel="apple-touch-icon-precomposed" href="{{ 'assets/images/ico/apple-touch-icon-57-precomposed.png'|theme }}">