description = "Footer Dengan Social Network"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = "4"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "artikel"
==
<footer id="footerku">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 widget wow fadeInDown" data-wow-duration="400ms" data-wow-delay="1100ms">
                        <h3 class="widget-title">Blog</h3>
                        <div class="widget-body">
                            <ul>
                                {% for post in posts %}
                                    <li><a href="{{ 'artikel'|page({slug: post.slug}) }}">{{ post.title }}</a></li>
                                {% else %}
                                    <li class="no-data">{{ noPostsMessage }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 widget wow fadeInDown" data-wow-duration="400ms" data-wow-delay="1100ms">
                        <h3 class="widget-title">Jasa Kami</h3>
                        <div class="widget-body">
                            {% content 'jasa.htm' %}
                        </div>
                    </div>

                    <div class="col-md-6 widget wow fadeInDown" data-wow-duration="400ms" data-wow-delay="1100ms">
                        <h3 class="widget-title">Tentang BITS.co.id</h3>
                        {% content 'tentang.htm' %}
                    </div>

                </div>
            </div>
        </div>

<section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    © Copyright 2013 - {{ "now"|date("Y") }} <a href="http://www.bits.co.id/" title="{{ this.theme.site_name }}">{{ this.theme.site_name }}</a>. Powered <em>by</em> <a href="http://octobercms.com/" target="_blank">OctoberCMS</a>
                </div>
                <div class="col-sm-6">
                    {% content 'sosial.htm' %}
                </div>
            </div>
        </div>
</section>

    </footer>