    <footer id="footerku">
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Blog</h3>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Jasa Kami</h3>
                        <div class="widget-body">
                            <ul>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                                <li>
                                    <a href="#">Tentang</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Tentang BITS.co.id</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

<section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; Copyright 2013 - {{ "now"|date("Y") }} <a href="http://www.bits.co.id/" title="{{ this.theme.site_name }}">{{ this.theme.site_name }}</a>. Powered <em>by</em> <a href="http://octobercms.com/" target="_blank">OctoberCMS</a>
                </div>
                <div class="col-sm-6">
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>

    </footer>