   <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-section">
                    <h2>Konsultasikan Rencana anda Kepada Kami</h2>
                    <img src="{{ 'assets/images/under-heading.png'|theme }}" alt="" >
                </div>
            </div>
    </div>
    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="product-item col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="message-form">
                                <form role="form" action="#" method="post" class="send-message">
                                    <div class="row">
                                    <div class="name col-md-4">
                                        <input type="text" name="name" id="name" placeholder="Nama" class="form-control" required="required">
                                    </div>
                                    <div class="email col-md-4">
                                        <input type="text" name="email" id="email" placeholder="Email" class="form-control" required="required">
                                    </div>
                                    <div class="subject col-md-4">
                                        <input type="text" name="subject" id="subject" placeholder="Judul" class="form-control" required="required">
                                    </div>
                                    </div>
                                    <div class="row">
                                    <div class="text col-md-12">
                                        <textarea name="text" placeholder="Pesan" class="form-control" required="required"></textarea>
                                    </div>
                                    </div>
                                    <div class="send">
                                        <button type="submit" name="submit" required="required">Kirim</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="info">
                                <p>Silahkan datang langsung ke kantor pada Jam Kerja : Senin - Sabtu 08:00 - 17:00</p>
                                <ul>
                                    <li><i class="fa fa-phone"></i>+62 819 678 048</li>
                                    <li><i class="fa fa-globe"></i>Jl. Raya Cilegon Km.03 STC CC 15 Serang, Banten</li>
                                    <li><i class="fa fa-envelope"></i><a href="mailto:info@bits.co.id">info@bits.co.id</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
