	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Jasa Kami</h2>
                <p class="lead">Bergabung segera menjadi partner kerja kami &amp; berikut adalah jasa yang kami tawarkan</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                             <i class="geser fa fa-laptop fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Web Development</h3>
                            <p>Jasa Pembuatan Website Modern &amp; Profesional</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <i class="geser fa fa-desktop fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Desktop Applications</h3>
                            <p>Marketplace System, HRIS &amp; Custom System</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <i class="geser fa fa-mobile fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Mobile Applications</h3>
                            <p>Jasa Pembangunan Aplikasi Android &amp; iOS</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <i class="geser fa fa-cloud fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Web &amp; Email Hosting</h3>
                            <p>Shared / Reseller Hosting &amp; Virtual Private Server</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <i class="geser fa fa-server fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Server Installations</h3>
                            <p>Jasa Intsallasi VPS &amp; Dedicated Server</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <i class="geser fa fa-gears fa-4x"></i>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Server Maintenance</h3>
                            <p>Perawatan / Pemeliharaan Jaringan &amp; Server</p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
