description = "Meta & SEO"
==
<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description }}">
<meta name="keywords" content="{{ this.page.meta_keywords }}">
<meta name="author" content="{{ this.page.meta_author }}">
<meta name="p:domain_verify" content="9f5c1806be69ea9cf6ce8bd3f8a26305"/>
<title>{{ this.page.title }} - {{ this.theme.site_name }}</title>