<div class="container">
    <div class="section-header">
        <h2 class="section-title text-center wow fadeInDown">PELAKSANAAN</h2>
        <p class="spasi text-center wow fadeInDown">Bagaimana cara kami bekerja dan pelaksanaannya ? Simak proses cara kerja dan pelaksanaan kami</p>
    </div>

    <div class="row text-center">
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                <div class="icon-circle">
                    <span>1</span>
                    <i class="fa fa-coffee fa-2x"></i>
                </div>
                <h3>BERTEMU</h3>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="100ms">
                <div class="icon-circle">
                    <span>2</span>
                    <i class="fa fa-bullhorn fa-2x"></i>
                </div>
                <h3>PERENCANAAN</h3>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                <div class="icon-circle">
                    <span>3</span>
                    <i class="fa fa-laptop fa-2x"></i>
                </div>
                <h3>DESAIN</h3>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="300ms">
                <div class="icon-circle">
                    <span>4</span>
                    <i class="fa fa-code fa-2x"></i>
                </div>
                <h3>CODING</h3>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                <div class="icon-circle">
                    <span>5</span>
                    <i class="fa fa-gears fa-2x"></i>
                </div>
                <h3>TESTING</h3>
            </div>
        </div>
        <div class="col-md-2 col-md-4 col-xs-6">
            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms">
                <div class="icon-circle">
                    <span>6</span>
                    <i class="fa fa-space-shuttle fa-2x"></i>
                </div>
                <h3>LAUNCH</h3>
            </div>
        </div>
    </div>
</div>