description = "Home Sliders"
==
<div class="flexslider">
    <ul class="slides">
        <li>
            <div class="slider-caption">
                <h1  class="wow slideInDown" data-wow-duration="400ms" data-wow-delay="100ms">BITS.CO.ID - Solusi IT Untuk Anda</h1>
                <p  class="wow slideInLeft" data-wow-duration="400ms" data-wow-delay="300ms">Sistem Infrastruktur IT memiliki peran penting di dalam berbagai segmen industri dan Anda membutuhkan teknologi<br><br>yang tepat untuk pengembangan bisnis dan usaha Anda</p>
                <a  class="wow slideInUp" data-wow-duration="900ms" data-wow-delay="300ms" href="{{ 'samples/single-post'|page }}">Lebih Lanjut</a>
            </div>
            <img src="{{ 'assets/images/slide1.jpg'|theme }}" alt="BITS.CO.ID Solusi IT Untuk Anda" />
        </li>
        <li>
            <div class="slider-caption">
                <h1>WEBSITE ADALAH ASET YANG PALING BERHARGA</h1>
                <p>Website menjadi aset yang paling berharga bagi Perusahaan anda karena branding<br><br>perusahaan anda di publish di seluruh dunia dan Anda memperkenalkan perusahaan kepada publik</p>
                <a href="{{ 'samples/single-post'|page }}">Lebih Lanjut</a>
            </div>
            <img src="{{ 'assets/images/slide3.jpg'|theme }}" alt="BITS.CO.ID Jasa Pembuatan Website Profesioanl" />
        </li>
        <li>
            <div class="slider-caption">
                <h1>BANGUN WEBSITE DI BITS.CO.ID</h1>
                <p>BITS.CO.ID akan membangun Website anda dengan teknologi yang terbaru dan profesional karena itu merupakan aset berharga anda<br><br>Silahkan lihat keterangan lebih lengkap tentang Jasa Pembuatan Website Profesioanl kami</p>
                <a href="{{ 'samples/single-post'|page }}">Lebih Lanjut</a>
            </div>
            <img src="{{ 'assets/images/slide2.jpg'|theme }}" alt="Pembuatan Website Perusahaan Company Profile" />
        </li>
    </ul>
</div>
