.heading-section {
  text-align: center;
  padding: 10px 0 40px;
}
.heading-section h2 {
  font-size: 20px;
  color: #333;
  font-weight: 700;
  text-transform: uppercase;
}
input, textarea {
  padding: 10px;
  border: 1px solid #e2e2e2;
  width: 100%;
  margin-top: 25px;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: #aaa;
  outline: none;
}
textarea {
  height: 165px;
  max-height: 180px;
  max-width: 770px;
  line-height: 18px;
  width: 100%
}
.message-form input {
  margin-top: 0px;
}
.message-form  textarea {
  padding-bottom: 20px;
}
.send {
  margin-top: 20px;
}
.info p {
  padding-bottom: 20px;
}
.info ul {
  margin: 0;
  padding: 0;
}
.info li {
  list-style: none;
  margin: 10px 0;
  font-family: 'Exo', sans-serif;
  font-size: 13px;
  color: #666;
}
.info i {
  color: #EE8F2E;
  margin-right: 10px;
  font-size: 18px;
}
.send button {
    color: #fff;
}