description = "Blog"
==
<!DOCTYPE html>
<html lang="id">
<head>
    {% partial "meta" %}
    {% partial "css-blog" %}
</head>

<body class="blog">

<header id="header">
        {% partial "nav" %}
</header><!--/header-->

    {% page %}

{% partial "footer" %}

<!-- Scripts -->
<script type="text/javascript" src="{{ 'assets/js/html5shiv.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/respond.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/jquery.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/bootstrap.min.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/main.js'|theme }}"></script>
<script type="text/javascript" src="{{ 'assets/js/wow.min.js'|theme }}"></script>
{% framework extras %}
{% scripts %}             
         
</body>
</html>